﻿@model List<OnlineShop.Models.CartItem>
<div class="cart">
    <p>
        Chào mừng bạn đến với website <span><a href="/gio-hang" style="color: red">Giỏ hàng:</a></span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
        </div>
    </p>
</div>