﻿@*@model List<Model.EF.Menu>
<div class="call">
    <p><span>Cần trợ giúp?</span> hãy gọi <span class="number">038-233-9971</span></p>
</div>
<div class="account_desc">
    @{
        var session2 = (UserLogin)Session[OnlineShop.Common.CommonConstants.MEMBER_SESSION];

    if (session2 == null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }
        </ul>
    }
    else
    {
        <ul>
            <li>Xin chào:@session2.UserName</li>
            <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
        </ul>
    }
        }
</div>
<div class="clear"></div>*@
